In [5]:
import pandas as pd
import requests
import json
import numpy as np
from keys import client_id, api_key
from functions_yelp_api import *

In [6]:
term='sushi'
location='brooklyn'
price='1,2,3,4'
radius=20000

url_params = {
                "term": term.replace(' ', '+'),
                "location": location.replace(' ', '+'),
                "price" : price,
                "limit": 50,
                "radius": radius
            }

In [7]:
#make blank df
columns = ['name', 'id', 'review_count', 'price', 'rating']
new_df = pd.DataFrame(columns=columns)
new_df.to_csv('yelp_api_sushi-brooklyn.csv')
pd.read_csv('yelp_api_sushi-brooklyn.csv', index_col=0)

Empty DataFrame
Columns: [name, id, review_count, price, rating]
Index: []

In [8]:
cur = 0
while cur < 1000:
    url_params['offset'] = cur
    results = yelp_call_businesses(url_params, api_key)
    data = parse_data(results)
    data_save(data, 'yelp_api_sushi-brooklyn.csv')
    cur += 50

NameError: name 'requests' is not defined

In [56]:
df_sushi = pd.read_csv('yelp_api_sushi-brooklyn.csv', index_col=0)

In [57]:
df_sushi.head()

           name                      id  review_count price  rating
0  Sushi Yashin  SUHJfh7H2NiQx8c5OWoAyQ           188    $$     4.0
1        Uotora  LjAt-SP7BwIpp56TZHVsWA            84  $$$$     4.5
2    Taro Sushi  LkT2-XYjuCSmObs8rOLdzA           525    $$     4.0
3     Sushi Lin  AFt1Qcec4_JNr6PWpkRYyw           258   $$$     4.5
4      Ki Sushi  e3JALGueMcc2eLXRK8HPNQ           159    $$     4.5

In [193]:
# write Pandas code to pull back all of the business ids 
# you will need these ids to pull back the reviews for each restaurant

business_id = df_sushi['id'].values
business_id[0]

numpy.ndarray

In [232]:
columns = ['id', 'rating', 'text', 'time_created']
blank_df = pd.DataFrame(columns=columns)
blank_df.to_csv('yelp_api_sushi-reviews.csv')
pd.read_csv('yelp_api_sushi-reviews.csv', index_col=0)

Empty DataFrame
Columns: [id, rating, text, time_created]
Index: []

In [ ]:
cur = 0
while cur < 1000:
    url_params['offset'] = cur
    results = yelp_call_review(business_id[cur], api_key)
    cur += 1

data = parse_data_reviews(business_id, results)
data_save(data, 'yelp_api_sushi-reviews.csv')

In [236]:
df_reviews = pd.read_csv('yelp_api_sushi-reviews.csv', index_col=0)

In [237]:
df_reviews.shape

(12846, 4)

In [239]:
df_reviews.head()

,id,rating,text,time_created
0,SUHJfh7H2NiQx8c5OWoAyQ,5,I was craving sushi and Yashin was relatively ...,2019-11-25 08:08:43
1,SUHJfh7H2NiQx8c5OWoAyQ,4,"This quiet, minimalist Japanese restaurant ser...",2020-02-06 10:59:37
2,SUHJfh7H2NiQx8c5OWoAyQ,4,Food: The Shishito peppers and hamachi carpacc...,2019-12-26 04:57:04
3,LjAt-SP7BwIpp56TZHVsWA,5,"Very simple decor, simple yet classy. Came he...",2020-01-07 21:53:32
4,LjAt-SP7BwIpp56TZHVsWA,5,Crown Heights is not a neighborhood most sushi...,2019-11-29 08:33:13